<div ng-show="thony" slide class="slide" id="screenclean">
  <video width="100%" height="100%" autoplay loop>
    <source src="videos/pug.webm" type="video/webm">
  </video>
</div>

<div slide class="slide" id="slide-top">
  <a class="anchor" id="top"></a>
  <div class="centered-container">
    <h1 class="main-title">foodplace.</h1>
  </div>
</div>

<div slide class="slide" id="slide-about">
  <a class="anchor" id="about"></a>
  <div class="centered-container">
    <h1 class="title-inverse">About Us?</h1>
    <div class="transparent-panel-inverse" id="about-textbox">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet nibh molestie, elementum lorem a, feugiat est. Curabitur varius condimentum hendrerit. Vestibulum bibendum elit eu augue varius consequat. Nam euismod risus quis dolor aliquet,
        vitae fringilla sapien volutpat. Integer sed turpis nunc. Nam dui risus, vulputate sed dictum et, ultricies ut turpis. In hac habitasse platea dictumst. Fusce id sapien ac felis varius feugiat suscipit ut ante. Sed pellentesque elementum tortor,
        ac laoreet diam aliquet quis. Integer at urna efficitur ex viverra imperdiet. Morbi non nulla a ex dignissim egestas in id nibh. Morbi vitae est ut augue condimentum iaculis. Etiam nec laoreet odio. Fusce nec mauris a augue tristique consectetur.</p>

      <p>Aenean enim massa, posuere eget ligula ac, tristique interdum dolor. Duis dictum, orci ac aliquet sollicitudin, ligula massa viverra nisi, nec varius lorem erat et libero. Quisque non efficitur tortor. Donec finibus est pretium turpis semper scelerisque.
        Quisque imperdiet molestie erat, sed feugiat neque molestie sit amet. Fusce ac est nec risus congue porta. Aenean in pellentesque libero, non posuere neque.</p>
    </div>
  </div>
</div>

<div slide class="slide" id="slide-bakery">
  <a class="anchor" id="bakery"></a>
  <div class="centered-container">
    <h1 class="title">+Bakery</h1>
    <div class="transparent-panel" id="bakery-textbox">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet nibh molestie, elementum lorem a, feugiat est. Curabitur varius condimentum hendrerit. Vestibulum bibendum elit eu augue varius consequat. Nam euismod risus quis dolor aliquet,
        vitae fringilla sapien volutpat. Integer sed turpis nunc. Nam dui risus, vulputate sed dictum et, ultricies ut turpis. In hac habitasse platea dictumst. Fusce id sapien ac felis varius feugiat suscipit ut ante. Sed pellentesque elementum tortor,
        ac laoreet diam aliquet quis. Integer at urna efficitur ex viverra imperdiet. Morbi non nulla a ex dignissim egestas in id nibh. Morbi vitae est ut augue condimentum iaculis. Etiam nec laoreet odio. Fusce nec mauris a augue tristique consectetur.</p>

      <p>Aenean enim massa, posuere eget ligula ac, tristique interdum dolor. Duis dictum, orci ac aliquet sollicitudin, ligula massa viverra nisi, nec varius lorem erat et libero. Quisque non efficitur tortor. Donec finibus est pretium turpis semper scelerisque.
        Quisque imperdiet molestie erat, sed feugiat neque molestie sit amet. Fusce ac est nec risus congue porta. Aenean in pellentesque libero, non posuere neque.</p>
    </div>
  </div>
</div>

<div slide class="slide" id="slide-contact">
  <a class="anchor" id="contact"></a>
  <div class="centered-container">
    <div class="row" id="contact-textrow">
      <div class="col-xs-4">
        <div class="centered-container">
          <div class="centered-container" style="height:70%;border-right:1px solid #ecf0f1">
            <h1>Contact.</h1>
            <ul class="social-links">
              <li><a href="mailto:me@ivonliu.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
              <li><a href="https://www.facebook.com/ivon.liu.16" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/Ivon_Liu" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="centered-container">
          <p>778.882.5796</p>
          <p>me@ivonliu.com</p>
          <br>
          <br>
          <p>Open 7 days a week</p>
          <p>11:00am - Midnight</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="centered-container">
          <p>4433 Moscrop Street</p>
          <p>Burnaby, BC V5G 2G3</p>
          <br>
          <br>
          <p>Freshly baked goods</p>
          <p>from 11:00am - 6:00pm</p>
        </div>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.717897843861!2d-123.00736368469931!3d49.2438374814439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548676e47d39c3c1%3A0x660a3cb637f17ddd!2s4433+Moscrop+St%2C+Burnaby%2C+BC+V5G+2G3!5e0!3m2!1sen!2sca!4v1455698913579"
      width="70%" height="40%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<div class="footer-container">
  <div class="footer">
    <ul class="nav-links">
      <li><a href="#" scroll-to="top" callback-after="setHash('')">Top</a></li>
      <li><a href="credits.html">Credits</a></li>
    </ul>
    <p>&copy; Ivon Liu 2016</p>
  </div>
</div>
